@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  button {
    letter-spacing: inherit;
  }
  html {
    @apply font-medium;
    @apply text-offBlack;
    @apply text-md;
  }
  body {
    @apply bg-white;
  }
}
 
@layer components {
  .linkTextNavigation {
    @apply decoration-[0.1em] underline-offset-[0.1em] hover:underline;
  }
 
  .portableText {
    ol {
      list-style-type: decimal;
    }
    ol ol {
      list-style-type: lower-alpha;
    }
    ol ol ol {
      list-style-type: lower-roman;
    }
 
    ul {
      list-style: disc outside;
    }
    ul ul {
      list-style: circle outside;
    }
    ul ul ul {
      list-style: square outside;
    }
  }
 
  .select {
    align-items: center;
    background-color: theme('colors.lightGray');
    border-radius: theme('borderRadius.full');
    color: theme('colors.offBlack');
    display: flex;
    font-size: theme('fontSize.sm');
    font-weight: theme('fontWeight.bold');
    height: 2.5rem;
    justify-content: center;
    letter-spacing: theme('letterSpacing.normal');
    overflow: hidden;
    padding: theme('padding.4');
    transition: all 200ms ease-out;
  }
 
  .select:disabled {
    color: theme('colors.darkGray');
  }
 
  .select:hover:not(:disabled) {
    opacity: 0.9;
  }
}
 
* {
  font-variant-ligatures: none;
}
 
html {
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}
 
.embla__slide {
  position: relative;
  flex: 0 0 100%;
}
 
 
/* usps page css */
.btn-main:hover span.arrow-show{
  opacity: 1;
  transform: translateX(35px);
 
}
html {
  scroll-behavior: smooth;
}
body.no-scroll {
  overflow: hidden;
  height: 100vh; /* lock viewport */
}
.main-content-left .content-block .mb-6.prose {
    margin-bottom: 0px;
}
.main-content-left .content-block h2,
.main-content-left .content-block h2 strong {
    font-size: 24px;
    font-weight: 600;
    line-height: 31.2px;
    letter-spacing: -0.36px;
    color: #091019;
    font-family: "Roboto", "sans-serif";
    margin-bottom: 16px;
}
.main-content-left .content-block h2 {
    text-indent: -20px;
    padding-left: 20px;
}
.main-content-left .content-block h3,
.main-content-left .content-block h3 strong {
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: -0.3px;
    color: #091019;
    font-family: "Roboto", "sans-serif";
    margin-bottom: 16px;
}
.main-content-left h4 {
    font-size: 18px;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: 0px;
    color: #091019;
    font-family: "Roboto", "sans-serif";
    margin-top: 0px;
    margin-bottom: 10px;
}
.main-content-left h5 {
    font-size: 18px;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: 0px;
    color: #091019;
    font-family: "Roboto", "sans-serif";
    margin-top: 0px;
    margin-bottom: 0px;
}
.main-content-left .content-module  {
    padding: 0;
    border: none;
    border-radius: 12px;
}
.main-content-left  .content-block {
    padding: 30px 40px;
}
.main-content-left hr {
    margin: 0;
    border-top: 1px solid #dcdcdc;
}
.main-content-left ol,
.main-content-left ul {
    margin-bottom: 30px;
    padding-left: 25px;
    display: flex;
    flex-direction: column;
    gap: 7px;
}
.main-content-left ol ol,
.main-content-left ul ul {
  margin-bottom: 0px;
}
.main-content-left ol li {
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0px;
    color: #091019;
    font-family: "Roboto", "sans-serif";
    list-style-type: decimal;
    list-style-position: outside;
}
.main-content-left ul li {
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0px;
    color: #091019;
    font-family: "Roboto", "sans-serif";
    list-style-type: disc;
    list-style-position: outside;
}
.main-content-left p {
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0px;
    color: #091019;
    font-family: "Roboto", "sans-serif";
    margin-top: 0px;
    margin-bottom: 30px;
}
.main-content-left p:last-child {
    margin-bottom: 0px;
}
.main-content-left p a {
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: auto;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0px;
    color: #091019;
    font-family: "Roboto", "sans-serif";
}
.main-content-left p.my-6.text-lg.text-slate-600 {
    font-size: 14px;
    font-weight: 400;
    line-height: 150%;
    font-style: italic;
    letter-spacing: 0px;
    color: #4D4E4F;
    font-family: "Roboto", "sans-serif";
    text-align: center;
}
.main-content-left p.my-6.text-lg.text-slate-600+p {
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0px;
    font-style: normal;
    color: #091019;
    font-family: "Roboto", "sans-serif";
    margin-top: 0px;
    text-align: left;
}
 
 
/* responsive css */
@media only screen and (max-width:767px)  {
  .main-content-left  .content-block {
    padding: 40px 24px;
  }
  .main-content-left .content-block h2,
  .main-content-left .content-block h2 strong {
    font-size: 20px;
    line-height: 28px;
    letter-spacing: -0.3px;
  }
  .main-content-left .content-block h3,
  .main-content-left .content-block h3 strong {
    font-size: 18px;
    line-height: 27px;
}
  .main-content-left p,
  .main-content-left p.my-6.text-lg.text-slate-600+p{
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 24px;
  }
  .main-content-left p a,
  .main-content-left h4,
  .main-content-left ul li,
  .main-content-left ol li{
    font-size: 16px;
    line-height: 24px;
  }
  .main-content-left p.my-6.text-lg.text-slate-600 {
    font-size: 12px;
    line-height: 18px;
  }
}
 
 
/* blog detail page css */
.detail-content p {
   font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    color: #4D4E4F;
    font-family: "Roboto", "sans-serif";
    margin-bottom: 28px;
}
.detail-content p:last-child {
    margin-bottom: 0px;
}
.detail-content p a {
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: auto;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    color: #4D4E4F;
    font-family: "Roboto", "sans-serif";
}
.detail-content h2 {
   font-size: 24px;
    font-weight: 600;
    line-height: 31.2px;
    letter-spacing: -0.36px;
    color: #091019;
    font-family: "Roboto", "sans-serif";
    margin-top: 0px;
    margin-bottom: 24px;
}
.detail-content h3 {
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: -.3px;
    color: #091019;
    font-family: Roboto, "sans-serif";
    margin-top: 0px;
    margin-bottom: 16px;
}
.detail-content h4 {
    font-size: 18px;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: 0px;
    color: #091019;
    font-family: Roboto, "sans-serif";
    margin-top: 0;
    margin-bottom: 10px;
}
.detail-content ol,
.detail-content ul {
    margin-bottom: 25px;
    padding-left: 25px;
    display: flex;
    flex-direction: column;
    gap: 7px;
}
.detail-content ol ol,
.detail-content ul ul {
  margin-bottom: 0px;
}
.detail-content ol li,
.detail-content ul li {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    color: #4D4E4F;
    font-family: "Roboto", "sans-serif";
    list-style-type: disc;
    list-style-position: outside;
}
/* responsive css */
@media only screen and (max-width:767px)  {
.detail-content p,
.detail-content p a,
.detail-content ol li,
.detail-content ul li  {
  font-size: 14px;
  line-height: 21px;
}
.detail-content h2 {
   font-size: 20px;
    line-height: 28px;
    letter-spacing: -0.3px;
}
.detail-content h3 {
    font-size: 18px;
    line-height: 24px;
}
.detail-content h4 {
    font-size: 16px;
    line-height: 150%;
}
}
 
 
 
 